.dashboard {

  display: flex;

 .cards button {
    margin:$standard_margin;
  }

  main {
    padding-top:90px;
    width:100%;
  }


  .dashboard-drawer{
    border:none;
    margin-left:30px;
    width:180px;
    margin-top:90px;
  }

}

#dashboard_nav {
  list-style:none;
  padding-left:5px;
  overflow-x:hidden;
  white-space:nowrap;
  border:none;

  li svg {
    margin-right:15px;
  }

  button, svg {
    background:none;
    border:none;
    line-height:24px;
    overflow:hidden;
    height:24px;
  }
}

.list-header {
  padding-left:72px;
}
// animations are disabled as they run everytime an entry is made in a form input
// and it is quite disruptive
// find a solution someday as the drawer animating would be ideal
// just not on form input changes 5/28/2022 sgrjr

.dashboard.drawer-is-open-false {
  ul{
    list-style:none;
    padding-left:8px;
  }  

    .dashboard-drawer{
     //animation: close-drawer 1s ease;
      width:40px;
    }

}


.dashboard.drawer-is-open-true {
  .dashboard-drawer {
    //animation: open-drawer .7s ease;
  }
}

@keyframes open-drawer {
    from {width: 40px;}
    to {width: 180px;}
}

@keyframes close-drawer {
    from {width: 180px;}
    to {width: 40px;}
}
