/vendor
/node_modules
/public/.htaccess
/public/web.config
/public/marcs
Homestead.yaml
Homestead.json
.env
/app-js/node_modules
/public/phpmyadmin
/.vs
composer.lock
package-lock.json
/storage/addToCartFailure.txt
/storage/missing_marcs.txt
/dbf_changes.json
/schedule.txt
/public/marcs/*