//Stylized book cover image to look like it has a binder

.book-cover {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  width: 173.5px;
  height: 289px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


  .book-cover-effect {
    width: 25px;
    height: 289px;
    content: "";
    display: inline-block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(60, 60, 60, 0.25) 30%, rgba(60, 60, 60, 0.3) 45%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0) 100%);
  }

    .book-cover-effect-large {
      width: 65px;
      height: 578px;
    }

}

.book-cover-art-large {
  width: 347px;
  height: 578px;
}

