/* Footer styles
-------------------------------------------------- */

.footer {
  bottom: 0;
  width: 100%;
  height: auto;
  text-align:center;
  padding-top: 100px;
  border-top: none;
}

footer .top-footer {
    width: 100%;
    padding-bottom: 100px;
    display:flex;
    flex-wrap: wrap;
  	justify-content: space-evenly;
	text-align:left;
}

footer .top-footer .column {
	flex-grow: 1;
	padding-left:30px;
}

footer .bottom-footer {
    float: left;
    width: 100%;
    background: #252420;
    background-color: #A79674;
    height: 80px;
    position: relative;
    padding:15px;
}

footer .bottom-footer .container, footer .bottom-footer .container-fluid {
    position: relative;
    height: 100%;
}

footer .bottom-footer .payment {
    left: 0px;
    position: absolute;
    top: 50%;
    bottom: auto;
    color:white;
}

footer .bottom-footer .copyright {
    right: 0px;
    position: absolute;
    top: 50%;
    bottom: auto;
    color: #fff;
}

footer .bottom-footer .payment a {
    display: inline-block;
    margin-right: 15px;
    opacity: 1;
}

footer .bottom-footer .payment img {
	filter: brightness(20);
}

footer .bottom-footer .copyright a {
    color: #fff;
}

footer .list-social li {
    list-style: none;
    float: left;
    padding-left: 15px;
    margin-bottom: 0px;
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

footer .top-footer .column .column-title {
    width: 100%;
    text-transform: uppercase;
    color: rgba(0,0,0,.5);
    letter-spacing: .1px;
    font-size: 1.23077em;
    font-family: lato,sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 10px;
}

footer .top-footer .column .column-title span {
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

footer .top-footer ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

footer .top-footer ul li{
	margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
    
    footer .bottom-footer .copyright, footer .bottom-footer .payment {
        position: relative;
        display:block;
        clear:both;
        width:100%;
    }

    footer .bottom-footer {
    height: auto;
}

}