/* Fonts */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');*/
/* Variables */
body {
  font: normal 14px Robot, Arial, sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #858585;
  text-decoration: none;
  box-sizing: border-box;
}

a:hover {
  color: #008afc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  position: relative;
  min-height: 100%;
  --dark-blue:#0066ff;
  --medium-blue: #0584F2;
  --LIGHT-BLUE: #0AAFF1;
  --YELLOW: #EDF259;
  --BROWN:#A79674;
}

body {
  font-family: serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.pagination li {
  margin: 15px;
}

.alert {
  z-index: 10;
}

/* Shopping Cart Form
*/
.table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

.cover-art {
  height: 100px;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }

  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }

  .actions .btn-info {
    float: left;
  }

  .actions .btn-danger {
    float: right;
  }

  table#cart thead {
    display: none;
  }

  table#cart tbody td {
    display: block;
    padding: 0.6rem;
    min-width: 320px;
  }

  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }

  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }

  table#cart tfoot td {
    display: block;
  }

  table#cart tfoot td .btn {
    display: block;
  }
}
table#dbf-tables {
  width: 100%;
}

table#dbf-tables td, table#dbf-tables th {
  border: solid 1px gray;
}

table.borders {
  width: 100%;
}

table.borders td, table.borders th {
  border: solid 1px gray;
}

.greenrow {
  border-bottom: solid 1px gray;
  color: green;
}

.redrow {
  border-bottom: solid 1px gray;
  color: red;
}

.showcase {
  height: 400px;
  width: 100%;
  clear: both;
  margin: 0;
  margin-top: 30px;
  padding: 15px;
  background-color: #252420;
  color: #ffffff80;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.showcase > section {
  background: transparent;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  flex-grow: 1;
  flex-basis: 80px;
  /*set the initial length*/
}

.showcase section h1 {
  color: #504f4b;
  text-decoration: underline;
}

.showcase section h2 {
  color: #504f4b;
}

.showcase p {
  font-size: 16px;
  line-height: 32px;
}

.showcase section > img {
  width: 150px;
  float: left;
  margin: 15px;
}

.showcase section:nth-child(2) {
  border-left: solid 1px #504f4b;
}

.dark {
  background-color: #0000008c;
  color: white;
}

img:before {
  content: " ";
  display: block;
  height: 230px;
  width: 150px;
  background-image: url(/img/original/missing.png);
  box-shadow: none;
  border: none;
}

#qty {
  text-align: center;
}

form#simple-add-to-cart {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

form#simple-add-to-cart input[type=submit] {
  display: block;
  width: 100%;
  background-image: linear-gradient(white, #17a2b8);
}

form#simple-add-to-cart input[type=submit]:hover {
  background-image: linear-gradient(white, white);
}

form#simple-add-to-cart input[type=submit]:active {
  background-image: linear-gradient(#17a2b8, #17a2b8);
}

h1.space {
  margin-top: 50px;
}

/** LAYOUT GRID **/
.grid-container {
  display: grid;
  grid-template-areas: "header header header" "nav content side" "footer footer footer";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  height: 100%;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas: "header" "nav" "content" "side" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(75px, auto) 1fr minmax(75px, auto) auto;
    /* Footer */
  }

  nav, aside {
    margin: 0;
  }
}
/** LAYOUT GRID END**/
body#app .container-scroller {
  display: none;
}

.outlined {
  margin: 15px 0 15px 0;
  margin-top: 10px;
  border: solid 2px #858585;
  background: #858585;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.outlined:hover, .outline-disabled {
  background: transparent;
  color: #858585;
  font-style: italic;
}

.add-to-cart-action {
  width: 200px;
}

button.get-marc-button, button.add-to-cart-action {
  clear: both;
  width: 100%;
}

.promotions {
  display: flex;
  flex-direction: column;
  flex-basis: min-content;
  justify-content: center;
  width: 50%;
  align-items: center;
  margin: auto;
}

.promotions div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto auto;
  justify-content: space-between;
}
.promotions div h2 {
  flex: 1;
}
.promotions div button {
  flex: 0.5;
}

.minify-true img:before {
  display: none;
}

.minified-titles {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto auto;
  justify-content: space-between;
  border-bottom: solid 1px #858585;
}

/* external files */
.dashboard {
  display: flex;
}
.dashboard .dashboard-drawer {
  border: none;
  margin-left: 30px;
  width: 180px;
}
.dashboard ul {
  list-style: none;
  padding-left: 5px;
  overflow-x: hidden;
  white-space: nowrap;
  border: solid 1px #858585;
  border-left: none;
  border-bottom: none;
}
.dashboard ul li svg {
  margin-right: 15px;
}

.list-header {
  padding-left: 72px;
}

.dashboard.drawer-is-open-false ul {
  list-style: none;
  padding-left: 8px;
}
.dashboard.drawer-is-open-false .dashboard-drawer {
  -webkit-animation: close-drawer 1s ease;
          animation: close-drawer 1s ease;
  width: 40px;
}

.dashboard.drawer-is-open-true .dashboard-drawer {
  -webkit-animation: open-drawer 0.7s ease;
          animation: open-drawer 0.7s ease;
}

@-webkit-keyframes open-drawer {
  from {
    width: 40px;
  }
  to {
    width: 180px;
  }
}

@keyframes open-drawer {
  from {
    width: 40px;
  }
  to {
    width: 180px;
  }
}
@-webkit-keyframes close-drawer {
  from {
    width: 180px;
  }
  to {
    width: 40px;
  }
}
@keyframes close-drawer {
  from {
    width: 180px;
  }
  to {
    width: 40px;
  }
}
footer.main-footer {
  background-color: #008afc;
  color: white;
  font-size: 1.25rem;
  padding-left: 30%;
}
footer.main-footer a, footer.main-footer a:visited {
  color: white;
  padding: 10px;
}
footer.main-footer a::before {
  content: url(/img/right-arrow.svg);
}
footer.main-footer a:hover {
  text-decoration: underline;
}
footer.main-footer section {
  display: flex;
}
footer.main-footer ul {
  list-style: none;
}

@media (max-width: 1199px) {
  footer.main-footer {
    padding-left: 15px;
  }
}
.main-navigation {
  background: url(/img/banner.png);
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
.main-navigation ul.quick-links {
  list-style: none;
  width: 100%;
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 115%;
}
.main-navigation ul.quick-links li {
  display: inline;
  padding: 5px;
  background: #858585;
  margin-right: 15px;
  font-weight: bold;
  border: solid 2px #858585;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}
.main-navigation ul.quick-links li a {
  color: white;
}
.main-navigation ul.quick-links li svg {
  float: left;
}
.main-navigation ul.quick-links li:hover {
  background: white;
  color: #858585;
}
.main-navigation ul.quick-links li:hover a {
  color: #858585;
}

.main-navigation header {
  background: none;
  display: flex;
  align-items: center;
  height: 50px;
}
.main-navigation header a {
  color: white;
}

.search-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: end;
  box-shadow: none;
  margin-bottom: 15px;
  flex-direction: row-reverse;
  margin-top: 200px;
}
.search-form form {
  padding: 5px;
  border: none;
  line-height: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  gap: 20px;
  margin-right: 10%;
}
.search-form form button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
}
.search-form form input {
  border-bottom: 1px solid gray;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  flex: 1;
  background: transparent;
}
.search-form form select {
  height: 100%;
  border: none;
  font-size: 1.25rem;
  flex: 0.3;
  background: white;
}

@media only screen and (max-width: 1199px) {
  .search-form form {
    flex-basis: 100%;
    margin-right: 0;
  }
}
@media print {
  .noPrint,
footer.main-footer,
.main-navigation,
.get-marc-button,
.dashboard .dashboard-drawer {
    display: none !important;
  }

  html, body {
    margin: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=app.css.map*/