/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  overflow:hidden;
  font-size:2rem;
  overflow: hidden;
}

.carousel-item {
    background-size: cover;
    background-position: center center;
}

.carousel-item h1 {
    margin: 0;
    color: white;
    background-color:#00000087;
}
.carousel-item a {
    text-decoration: none;
}