.card {
	text-align:center;
	background-color:$white;
	padding:0;
	color:$white;
	height:100%;

	h2 {
		color:$white;
		background-color:$blue;
	}

	h5 {color:$black;}


}

.card.profile {
	text-align:center;
}