/*===============================
=            Choices            =
===============================*/
.choices {
  position: relative;
  height:100%;
}

.choices:focus {
  outline: none;
}

.choices[data-type*="select-one"] .choices__button {
  background-image: url("cross-inverse.svg");
  padding: 0;
  background-size: 8px;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  width: 20px;
  border-radius: 10em;
  opacity: .5;
}

.choices[data-type*="select-one"]:after {
  content: "";
  position: absolute;
}

.choices__list--dropdown {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  overflow: hidden;
  word-break: break-all;
  width:100%;
}

.choices__list--dropdown.is-active {
  display: block;
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 10px;
  text-align:left;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2;
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #f9f9f9;
    padding:0;
    border: 1px solid #ddd;
    border-radius: 2.5px;
    font-size: 14px;
    overflow: hidden;
}

/*=====  End of Choices  ======*/