.main-navigation {
    background:url(/img/banner.png);
    height:309px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-bottom:50px;

      a {
        color: white;
        text-decoration: none;
        box-sizing: border-box;
      }

      a:hover { 
        color: $gray;
      }

    ul.quick-links {
        list-style: none;
        width:100%;
        background-color:white;
        margin:0;
        display:flex;
        justify-content:center;
        padding-top:$standard_margin;
        font-size:115%;

        li {
            display:inline;
            background: $gray;
            margin-right:$standard_margin;
            padding-right:$standard_margin;
            padding-left:$standard_margin;
            border: solid 2px $gray;
            height: 100%;
            margin-top: 0;
            margin-bottom:0;
            color:white;

            a {
                color:white;
                text-decoration:none;
            }

            svg {float:left;}
        }

        li:hover {
            background: white;
            color: $gray;

            a {
                color:$gray;
                text-decoration:none;
            }
        }
    }
}

.main-navigation header {
    background:none;
    display: flex;
    align-items: center;
    height:50px;
}

.search-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-end;
    box-shadow: none;
    margin-bottom:$standard_margin;
    flex-direction:row-reverse;
    margin-top:200px;

    form {
        padding: 5px;
        border:none;
        line-height:45px;
        height:45px;
        background:rgba(255,255,255,.8);
        display:flex;
        justify-content:space-between;
        flex-basis:40%;
        gap:$standard_margin;
        margin-right:10%;

         button {
            border-radius:50%;
            width:35px;
            height:35px;
            background:transparent;
            border:none;
        }

        input {
            border-bottom: 1px solid $gray;
            height:100%;
            border:none;
            font-size:1.5rem;
            flex:1;
            background:transparent;
        }

        select {
            height:100%;
            border:none;
            font-size:1.25rem;
            flex: .3;
            background:white;
        }

    }
   
}


.main-navigation.minimal-navigation {
    border-bottom: solid 10px $blue;
    background:white;
    height:60px;
    overflow:hidden;
    position:fixed;
    width:100%;
    background-image:url(/img/logo.png);
    background-repeat:no-repeat;
    background-size:25px;
    background-position:left;
    background-position-x:$standard_margin;

    a {
        color: $blue;

    }

    }

@media only screen and (max-width: 1199px) {
  .search-form form {
    flex-basis:100%;
    margin-right:0;
  }
}