.cart-img {
  width: 100px;
}

.cart-footer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 8px;
    padding: 8px 24px;
    align-items: center;

  .incentive {
    grid-column: span 2;
    font-size: .8rem;
    text-align: right;
  }
  .total {
    font-size: 1rem;
  }

}
  
.review-cart {
  width:100%;

  p{
  display:inline;
  } 

  .items-qty {
    float:right;
    background: $blue;
    color:$white;
    padding: $standard_margin;
    font-size:1.2rem;
    font-weight:bold;
  }

  .MuiAccordionDetails-root {
    width:100%;

    ul {
    width:100%;
    border:none;
    }
  }
}