.cart-img {
  width: 100px;
}

.cart-footer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 8px;
    padding: 8px 24px;
    align-items: center;

  .incentive {
    grid-column: span 2;
    font-size: .8rem;
    text-align: right;
  }
  .total {
    font-size: 1rem;
  }

}
  
